.search {
  width: 30%;
  display: flex;
  margin: 1rem auto;
}

.searchTerm {
  width: 100%;
  border: 3px solid #cc00a0;
  border-right: none;
  padding: 5px;
  height: 1.2rem;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchButton {
  width: 3rem;
  height: 1.4;
  border: 1px solid #cc00a0;
  background: #cc00a0;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1.4rem;
}

.wrap {
  border-bottom: 1px solid #ccc;
}
